.styled-weather_block {
  &__border {
    background: linear-gradient(45deg, rgba(36, 136, 205) 36%, rgba(76, 165, 225) 52%);
    box-shadow: 0 0 22px 6px rgba(34, 60, 80, 0.2);
    position: relative;
  }
  &__content {
    background: linear-gradient(to right, rgb(22, 156, 236) 18%, rgb(86, 186, 238) 78%);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}