.app {
  display: grid;
  grid-template-areas: "a a a""b c d";
  gap: 20px 30px;
  &__header-row {
    grid-area: a;
  }
  &__first-row{
    grid-area: b;
  }
  &__second-row{
    grid-area: c;
  }
  &__third-row{
    grid-area: d;
  }
  &_block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 250px;
  }
}